.hero {
  height: 70vh;
  background: linear-gradient(210deg, #2A1AD8 0%, #B948FF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero > h1 {
  color: white;
  font-size: 8rem;
}

.hero > h2 {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: -12px;
  color: white;
  opacity: .15;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.1;
}


.spacer-50px {
  margin-right: 50px;
}
